.TotalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-bottom: solid 1px #7E7E7E;
}

.TotalContainer h2 {
    font-size: larger;
}

.TotalContainer h3 {
    font-weight: bold;
    font-size: larger;
    color: #FF3663;
}

.TotalContainer button {
    display: block; 
    margin: 3px auto 0 auto;
    padding: 10px 20px;
    border-radius: 10px; 
    background-color:  #56D35B; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}
  
.TotalContainer button:hover {
    background-color:  #079992;
}