.CounterContainer {
    display: flex;
    align-items: center;
    gap: 25px;
    color: #8B8B8B;
}

.CounterContainer.white{
    color: white;
}

.CounterContainer span {
    font-size: 1.5rem;
    font-weight: bold;
}

.CounterContainer .IconIncrement{
    font-size: 30px;
    cursor: pointer;
}

.CounterContainer .IconDecrement{
    font-size: 28px;
    cursor: pointer;
}