.RatingContainer {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.RatingContainer:hover {
    cursor: pointer;
}

.RatingContainer .StarFilled {
    color: #FF7A00;
}

.RatingContainer h3 {
    margin-left: 5px;
}